.heartToggle {
  padding-right: 2rem;
}

.heartToggle svg {
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  font-size: 2rem !important;
  cursor: pointer;
}

.heartToggle svg.heartToggle__toggled {
  color: var(--main-theme-favorite-color-hover);
  transform: scale(2);
  stroke: var(--main-theme-favorite-color);
}

.heartToggle svg.heartToggle__untoggled {
  color: transparent;
  stroke: var(--main-theme-color-secondary);
}
