.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.hide {
  background: none;
}

.header__left {
  flex: 0.5;
}

.header__left.hide {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
