.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  flex: 0.5;
}

.header__left.showSearchbar .searchField {
  opacity: 1;
  display: inline-flex;
}

.header__left.hideSearchbar .searchField {
  opacity: 0.3;
  transform: scaleY(0);
  pointer-events: none;
  user-select: none;
  transition: transform 300ms cubic-bezier(1, 0, 0, 1);
}

.header__left.showPlToolbar .miniPlaylistToolbar {
  opacity: 1;
  transform: scaleY(1) scaleX(1);
  display: inline-flex;
}

.header__left.hidePlToolbar .miniPlaylistToolbar {
  opacity: 0.3;
  transform: scaleY(0) scaleX(0);
  pointer-events: none;
  user-select: none;
  display: none;
}
