:root {
  --main-layout-header-height: 88px;
  --main-layout-sidebar-width: 230px;
  --main-layout-footer-height: 85px;
}

.mainLayout {
  display: flex;
}

.mainLayout__sidebar {
  min-width: var(--main-layout-sidebar-width);
  padding-bottom: var(--main-layout-footer-height);
}

.mainLayout__header {
  position: fixed;
  box-sizing: border-box;
  width: calc(100% - var(--main-layout-sidebar-width));
  left: var(--main-layout-sidebar-width);
}

.mainLayout__body {
  width: 100%;
  padding: 0 1rem;
  padding-top: var(--main-layout-header-height);
  padding-bottom: var(--main-layout-footer-height);
}

.mainLayout__body > * {
  width: 100%;
  height: 100vh;
  overflow-y: overlay;
}

.mainLayout__body > *::-webkit-scrollbar {
  /* NICE TRICK : it hides the scrollbar, but the scrolling behavior is maintained*/
  display: none;
}

.mainLayout__footer {
  height: var(--main-layout-footer-height);
}
