:root {
  --main-layout-header-height: 88px;
  --main-layout-sidebar-width: 273px;
  --main-layout-footer-height: 85px;
}

.mainLayout {
  display: flex;
}

.mainLayout__sidebar {
  min-width: var(--main-layout-sidebar-width);
  padding-bottom: var(--main-layout-footer-height);
}

.mainLayout__sidebar {
  box-sizing: border-box;
  padding: 0 1rem;
}

.mainLayout__header {
  position: fixed;
  box-sizing: border-box;
  padding: 1rem;
  width: calc(100% - var(--main-layout-sidebar-width) - 2rem);
  left: calc(var(--main-layout-sidebar-width) + 2rem);
}

.mainLayout__body {
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  padding-top: var(--main-layout-header-height);
  padding-bottom: var(--main-layout-footer-height);
}

.mainLayout__body > * {
  width: 100%;
  overflow-y: overlay;
}

.mainLayout__body > *::-webkit-scrollbar {
  display: none;
}

.mainLayout__footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: var(--main-layout-footer-height);
}
