:root {
  --main-layout-header-height: 68px;
  --main-layout-sidebar-width: 273px;
  --main-layout-footer-height: 85px;
}

.mainLayout {
  display: flex;
}

.mainLayout__sidebar {
  box-sizing: border-box;
  padding: 1rem;
  min-width: var(--main-layout-sidebar-width);
  max-width: var(--main-layout-sidebar-width);
  max-height: calc(100vh - var(--main-layout-footer-height));
  overflow-y: hidden;
}

.mainLayout__header {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  height: var(--main-layout-header-height);
  padding: 1rem;
  width: calc(100vw - var(--main-layout-sidebar-width));
  right: 0;
}

.mainLayout__body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  padding-top: var(--main-layout-header-height);
  padding-bottom: var(--main-layout-footer-height);
}

.mainLayout__body > * {
  width: 100%;
}

.mainLayout__footer {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: var(--main-layout-footer-height);
}
