/**** 

add menuId to customize for different menus in the app, for example:

#avatar-menu .MuiMenuItem-root {
  font-size: 1.4rem !important;
}

*/

.MuiList-root,
.MuiList-root .MuiListItemIcon-root,
.MuiList-root .MuiListItemText-primary {
  color: var(--main-font-color) !important;
  background-color: var(--chrome-main-color) !important;
}

.MuiList-root .MuiListItemIcon-root {
  min-width: 26px !important;
}

.MuiMenuItem-root,
.MuiListItemText-root .MuiTypography-root.MuiListItemText-primary {
  font-size: 1.4rem !important;
}

.MuiListItem-button:hover {
  background-color: rgba(var(--main-theme-color), 0.4) !important;
}
