.itemCover {
  height: 250px;
  width: 170px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: rgba(var(--main-background-color), 0.3);
  padding: 1rem;
  box-shadow: 0 4px 60px rgba(var(--main-theme-color), 0.5);
  cursor: pointer;
  overflow: hidden;
}

.itemCover__cover {
  position: relative;
  transition: var(--transition);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.itemCover img,
.itemCover .imageLoader {
  max-height: 150px;
  width: 100%;
}

.artist .itemCover img,
.artist .itemCover .imageLoader {
  height: 130px;
  width: 130px;
  border-radius: 100%;
}

.artist .itemCover .imageLoader svg {
  height: inherit;
  width: inherit;
}

.artist .itemCover svg {
  height: 150px;
  width: 150px;
}

.itemCover__play {
  position: absolute;
  opacity: 0;
  background: none;
  transform: translateY(-50px);
  transition: var(--transition) !important;
}

.itemCover:hover .itemCover__cover .itemCover__play {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.itemCover:hover {
  position: relative;
  z-index: 1;
  background-color: rgba(var(--chrome-main-color), 0.3);
}

.itemCover:hover .itemCover__cover {
  padding: 0rem;
}

.itemCover:hover .itemCover__cover .itemCover__play:hover {
  transform: scale(1.5);
}

.itemCover__play svg {
  font-size: 4rem !important;
  color: var(--main-theme-color-secondary) !important;
  background-color: var(--main-font-color) !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.itemCover__name {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .itemCover {
    margin-right: 0;
    padding: 0;
    width: 150px;
  }
}
