.body {
  flex: 0.8; /* NICE TRICK : takes 80% of flex-direction*/
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  color: white;
  padding: 1rem;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  /* NICE TRICK : it hides the scrollbar, but the scrolling behavior is maintained*/
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.body__info > img {
  height: 20vw; /* NICE TRICK */
  min-height: 200px;
  margin: 0 1.2rem;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
}

.body__infoText > strong {
  text-transform: uppercase;
}

.body__infoText > h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.body__infoText > p {
  font-size: 1rem;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 2rem;
}

.body__shuffle {
  font-size: 5rem !important;
  margin-left: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__songs {
  margin: 0.8rem -1rem;
}
