.sidebar {
  transition: var(--transition);
}

.sidebar .spotifLyLogo {
  height: 80px;
  width: 166px;
  padding: 1rem;
}

.sidebar hr {
  border: 1px solid #282828;
  width: calc(100% - 2rem);
  margin: 10px auto;
}

.sidebar__title {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 1rem;
}

@media (max-width: 960px) {
  .sidebar {
    height: 100vh;
    width: 100vw;
    max-width: 100vw !important;
    top: 0;
    transform: translateX(-100vw);
    z-index: 100;
    background: var(--chrome-main-color);
  }
  .sidebar.visible {
    position: absolute;
    transform: translateX(0vw);
  }
}
