.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header__left {
  flex: 0.5;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 0.5rem;
}
