.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login .spotifLyLogo {
  width: 70%;
  max-width: 830px;
}

.login .MuiSvgIcon-root {
  font-size: 6.5rem;
  color: var(--main-theme-favorite-color);
}

.login .makeStyles-modal-1 {
  background: rgba(0, 0, 0, 1);
}

.login .welcome-recruiters .title {
  font-family: cursive;
  font-size: 2.2rem;
}

.login .welcome-recruiters .out {
  /* font-family: cursive; */
  font-size: 1.4rem;
  font-style: italic;
}
