.spotifyAudioPlayer {
  display: flex;
  justify-content: space-between;
}

.spotifyAudioPlayer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.spotifyAudioPlayer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 1rem;
  object-fit: contain;
}

.spotifyAudioPlayer__center {
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 620px;
}

.spotifyAudioPlayer__icon.MuiSvgIcon-root {
  font-size: 3rem;
  cursor: pointer;
}

.spotifyAudioPlayer__icon.large {
  font-size: 6rem;
}

.spotifyAudioPlayer__green {
  color: var(--main-theme-color-secondary);
}

.spotifyAudioPlayer__songInfo > h4 {
  margin-bottom: 0.5rem;
}

.spotifyAudioPlayer__icon:hover,
.spotifyAudioPlayer__green:hover {
  color: var(--main-theme-color-secondary-hover);
  transition: all 0.4s ease-in-out;
  transition-property: transform, color;
  transform: scale(1.2) !important;
}

/* For touch devices
* On touch device, these icons would stay on their hover state after being touched, which ends up confusing from a UX standpoint, so unsetting everthing to make sure this does not happen.
*/
@media (hover: none) {
  .spotifyAudioPlayer__icon:hover,
  .spotifyAudioPlayer__green:hover {
    color: unset;
    transition: unset;
    transition-property: unset;
    transform: unset !important;
  }
}

.spotifyAudioPlayer__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiSlider-root.spotifyAudioPlayer__slider.spotifyAudioPlayer__enabled {
  color: var(--main-theme-color-secondary);
  width: 70%;
}

.MuiSlider-root.spotifyAudioPlayer__slider.spotifyAudioPlayer__disabled {
  color: var(--main-interactive-text-color);
  width: 70%;
}
