.artistCover {
  width: 170px;
  max-height: 200px;
  text-align: center;
  padding: 1rem 2rem;
}

.artistCover img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
}

.artistCover svg {
  height: 150px;
  width: 150px;
}

.artistCover__name {
}
