.sidebarOption {
  display: flex;
  color: var(--main-interactive-text-color);
  height: 40px;
  transition: 200ms color ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption.small {
  height: 32px;
}

.sidebarOption__icon {
  margin-right: 1rem;
}

.sidebarOption > p {
  margin: 1rem;
}
