.sidebarOption {
  display: flex;
  align-items: center;
  color: var(--main-interactive-text-color);
  height: 40px;
  transition: 200ms color ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption.small {
  height: 32px;
}

.sidebarOption__icon {
  margin: 1rem;
  font-size: 2.6rem !important;
}

.sidebarOption > h4 {
  font-size: 1.4rem;
}

.sidebarOption > p {
  margin: 1rem;
}
