/**
* CSS RESETS
*/

* {
  margin: 0;
}

body::-webkit-scrollbar {
  /* NICE TRICK : it hides the scrollbar, but the scrolling behavior is maintained*/
  display: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/**
* APP THEME
*/

body {
  color: var(--main-font-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-font-color: white;
  --main-theme-color: 0, 0, 0;
  --main-background-color: 4, 4, 4;
  --main-interactive-text-color: #b3b3b3;
}

button {
  color: var(--main-font-color);
}

.header {
  background-color: rgba(var(--main-theme-color), 0.3);
}

.mainLayout {
  background-color: rgb(var(--main-background-color));
}

.body {
  background: linear-gradient(
    rgb(91, 87, 115),
    rgba(var(--main-theme-color), 1)
  );
}

.footer {
  background-color: rgb(40, 40, 40, 0.95);
}
