/**
* CSS RESETS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}

a,
button,
img {
  outline: none;
  border: none;
}

/**
* APP THEME
*/

:root {
  --main-font-color: white;
  --main-font-size: 1.4rem;
  --main-theme-color: 0, 0, 0;
  --main-theme-color-secondary: #1db954;
  --main-theme-color-secondary-hover: #1ed760;
  --main-background-color: 23, 23, 23;
  --main-interactive-text-color: #b3b3b3;
  --chrome-main-color: #282828;
  --main-theme-favorite-color: #ed4545;
  --main-theme-favorite-color-hover: red;
  --transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
  /*This means that 1rem = 10px, 1.1rem = 11px, etc */
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--main-font-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--main-background-color));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

button {
  color: var(--main-font-color);
}

.spotifLyLogo path {
  fill: var(--main-font-color);
}

.header.scrolled {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.body {
  background: linear-gradient(
    rgb(91, 87, 115),
    rgba(var(--main-theme-color), 1)
  );
}

.footer {
  background-color: rgba(40, 40, 40, 0.95);
}
