.playlistPage {
  flex: 0.8; /* NICE TRICK : takes 80% of flex-direction*/
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  color: white;
  padding: 1rem;
  overflow-y: overlay;
}

.playlistPage::-webkit-scrollbar {
  /* NICE TRICK : it hides the scrollbar, but the scrolling behavior is maintained*/
  display: none;
}
