.notFoundPage,
.notFoundPage * {
  box-sizing: border-box;
}

.notFoundPage {
  background: linear-gradient(45deg, #8c1932, #ff6437 60%);
  color: #fff;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  position: relative;
}

.notFoundPage .spotifLyLogo {
  padding: 20px;
  width: 70vw;
  max-width: 700px;
  display: block;
}

.notFoundPage .spotifLyLogo:hover path {
  fill: var(--main-theme-color-secondary) !important;
}

.spotifLyLogo,
.notFoundPage__message {
  z-index: 2;
  position: relative;
}

.notFoundPage__message p {
  font-size: 2rem;
  text-align: center;
}

.notFoundPage__vinylContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.notFoundPage__vinylContainer > img {
  position: absolute;
  bottom: -230px;
  right: -260px;
  width: 600px;
  height: 600px;
}

.notFoundPage__vinylContainer > img:first-of-type {
  animation: wheel 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@media screen and (min-width: 600px) {
  .notFoundPage__vinylContainer > img {
    height: 100vh;
    width: 100vw;
    /* right: -560px; */
  }
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
